{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
 <div>
  <main>
    <div>
      <h2>Facebook</h2>
    </div>
    <div class="row">
      <div>
        <p>id: 1</p>
        <h4>John Doe</h4>
        <p> gender: 'Male'</p>
        <p>age: 30</p>
      </div>
      <div class="card col-5 m-1">
       <h4>friends:</h4>
       <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >id</div>
      <div class="fw-bold">2</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >name</div>
    <div class="fw-bold">Jane Smith</div> 
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >gender</div>
      <div class="fw-bold">Female</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >age</div>
    <div class="fw-bold">27</div>
    </div>
  </li>
</ol>      

 <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >id</div>
      <div class="fw-bold">5</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >name</div>
    <div class="fw-bold">Mike Williams</div> 
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >gender</div>
      <div class="fw-bold">Male</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >age</div>
    <div class="fw-bold">25</div>
    </div>
  </li>
</ol>
<h5> groups</h5>
 <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >id</div>
      <div class="fw-bold">1</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >name</div>
    <div class="fw-bold">Hiking Enthusiasts</div> 
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div > description</div>
      <div class="fw-bold">'A group for people who love hiking and the great outdoors'</div>
    </div>
  </li>
</ol>
<ol class="list-group list-group-numbered m-1">
 <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto ">
     <div >id</div>
     <div class="fw-bold">2</div>
   </div>
 </li>
 <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto ">
     <div >name</div>
   <div class="fw-bold">Foodies United</div> 
 </li>
 <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto ">
     <div > description</div>
     <div class="fw-bold">'A group for food lovers to share recipes and restaurant recommendations'</div>
   </div>
 </li>
</ol>
      </div>


      <div class="card col-5 m-1">
        <h4> mutual_friends:</h4>
       <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>id</div>
    <div class="fw-bold">4</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div >name</div>
     <div class="fw-bold">Samantha Lee</div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>gender</div>
     <div class="fw-bold"> Female</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>age</div>
    <div class="fw-bold">25</div>
    </div>
  </li>
</ol>
       <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>id</div>
    <div class="fw-bold">7</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div >name</div>
     <div class="fw-bold">David Kim</div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>gender</div>
     <div class="fw-bold"> Male</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>age</div>
    <div class="fw-bold">29</div>
    </div>
  </li>
</ol>

<h5>members</h5>
       <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>id</div>
    <div class="fw-bold">8</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div >name</div>
     <div class="fw-bold">'Sarah Johnson</div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>gender</div>
     <div class="fw-bold">Female</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>age</div>
    <div class="fw-bold">25</div>
    </div>
    </li>
       </ol>

              <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>id</div>
    <div class="fw-bold">5</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div >name</div>
     <div class="fw-bold">Mike Williams</div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>gender</div>
     <div class="fw-bold">Male</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>age</div>
    <div class="fw-bold">28</div>
    </div>
    </li>
       </ol>
              <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>id</div>
    <div class="fw-bold">8</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div >name</div>
     <div class="fw-bold">'Sarah Johnson</div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>gender</div>
     <div class="fw-bold">Female</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>age</div>
    <div class="fw-bold">25</div>
    </div>
    </li>
       </ol>
      </div>
      <div>
        <p>id: 16</p>
        <h4>Amy Lee</h4>
        <p> gender: 'Female'</p>
        <p>age: 30</p>
      </div>
      <div class="card col-5 m-1">
       <h4>friends:</h4>
       <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >id</div>
      <div class="fw-bold">15</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >name</div>
    <div class="fw-bold">Peter Kim</div> 
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >gender</div>
      <div class="fw-bold">Male</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >age</div>
    <div class="fw-bold">32</div>
    </div>
  </li>
</ol>      

 <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >id</div>
      <div class="fw-bold">19</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >name</div>
    <div class="fw-bold">Erica Wong</div> 
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >gender</div>
      <div class="fw-bold">Female</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >age</div>
    <div class="fw-bold">29</div>
    </div>
  </li>
</ol>
<h5> groups</h5>
 <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >id</div>
      <div class="fw-bold">3</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div >name</div>
    <div class="fw-bold">Travel Addicts</div> 
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto ">
      <div > description</div>
      <div class="fw-bold">'A group for people who love to travel and explore new places'</div>
    </div>
  </li>
</ol>
<ol class="list-group list-group-numbered m-1">
 <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto ">
     <div >id</div>
     <div class="fw-bold">4</div>
   </div>
 </li>
 <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto ">
     <div >name</div>
   <div class="fw-bold">Pet Lovers</div> 
 </li>
 <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto ">
     <div > description</div>
     <div class="fw-bold">'A group for people who love their furry friends"</div>
 </li>
</ol>
      </div>


      <div class="card col-5 m-1">
        <h4> mutual_friends:</h4>
       <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>id</div>
    <div class="fw-bold">17</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div >name</div>
     <div class="fw-bold">David Chen</div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>gender</div>
     <div class="fw-bold"> Male</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>age</div>
    <div class="fw-bold">33</div>
    </div>
  </li>
</ol>
       <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>id</div>
    <div class="fw-bold">20</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div >name</div>
     <div class="fw-bold">Alex Lee</div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>gender</div>
     <div class="fw-bold"> Male</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>age</div>
    <div class="fw-bold">31</div>
    </div>
  </li>
</ol>

<h5>members</h5>
       <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>id</div>
    <div class="fw-bold">22</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div >name</div>
     <div class="fw-bold">Jackie Chen</div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>gender</div>
     <div class="fw-bold">Female</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>age</div>
    <div class="fw-bold">26</div>
    </div>
    </li>
       </ol>

              <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>id</div>
    <div class="fw-bold">16</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div >name</div>
     <div class="fw-bold">Amy Lee</div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>gender</div>
     <div class="fw-bold">Female</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>age</div>
    <div class="fw-bold">30</div>
    </div>
    </li>
       </ol>
              <ol class="list-group list-group-numbered m-1">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>id</div>
    <div class="fw-bold">25</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div >name</div>
     <div class="fw-bold">John Smith</div>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>gender</div>
     <div class="fw-bold">Male</div>
    </div>
  </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div>age</div>
    <div class="fw-bold">33</div>
    </div>
    </li>
       </ol>
      </div>
    </div>
  </main>
 </div>
 {{!---
<div>
     <main>
{{#with facebook}}
<hr>
<br>
<h2>{{name}}</h2>
<br>
<ul>
{{#each users}}
<li>
  <h3>Users</h3>
  <p>Id: {{id}}</p>
  <p>Name: {{name}}</p>
  <p>Gender: {{gender}}</p>
  <p>Age: {{age}}</p>
 {{#each friends}}
 <li>
  <h3>Friends</h3>
<p>Id: {{id}}</p>
<p>Name: {{name}}</p>
<p>Gender: {{gender}}</p>
<p>Age: {{age}}</p></li>
<br>
 {{#each mutual_friends}}
 <li>
  <h3>Mutual friends</h3>
 <p>Id: {{id}}</p>
 <p>Name: {{name}}</p>
 <p>Gender: {{gender}}</p>
 <p>Age: {{age}}</p>
  </li>
<br>
{{/each}} 
{{/each}}
{{#each groups}}
<li>
  <h4>Groups</h4>
<p>Id: {{id}}</p>
<p>Name: {{name}}</p>
<p>description: {{description}}
</li>

{{#each members}}
<li>
  <h4>Members</h4>
 <p>Id: {{id}}</p>
 <p>Name: {{name}}</p>
 <p>Gender: {{gender}}</p>
 <p>Age: {{age}}</p>
 </li>
{{/each}}
{{/each}}
<br>
  


<br>
<br>
{{#each friends}}
{{#each groups}}
<li>
  <h4>Groups</h4>
<p>Id: {{id}}</p>
<p>Name: {{name}}</p>
<p>description: {{description}}</p>
</li>

{{#each members}}
<li>
  <h4>Members</h4>
 <p>Id: {{id}}</p>
 <p>Name: {{name}}</p>
 <p>Gender: {{gender}}</p>
 <p>Age: {{age}}</p>
 </li>

{{/each}}
{{/each}}
{{/each}}
 
{{/each}}
</li>
</ul>
<hr>
  {{/with}}

 </main>   
</div>
--}}
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}