{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<div>
     <main>
{{#with js}}
<br>
<div>
  <p>{{name}}</p>
  <p>{{description}}</p>
</div>
 {{#with history}} 
 <p>{{year}}</p>
 <p>{{founder}}</p>
 {{/with}}
 <br>
 
    {{#each types}}
        <ul>
            <li>{{this}}</li>
        </ul>
     {{/each}}


   <br>
   {{#each syntax}}
   <ul class="list-group list-group-flush">
    <li class="list-group-item">{{this}}</li>
   </ul>

   {{/each}}
   <br>

<ul>
   {{#each features}}
   <p>{{this}}</p>
      {{/each}}
</ul>
<br>
 {{#each libraries}}
 <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{this}}</li> 
  </ul>
</div>  
 {{/each}}
<br>
 {{#each tools}}
 <p>{{this}}</p>
 {{/each}}
<br>
{{#each community}}
<div class="alert alert-primary" role="alert">
 <p>{{name}}
{{type}}</p>
</div>

{{/each}}
  {{/with}}

 </main>   
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}