{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

 <div>
  <main>
    <div>
      <h3>languages</h3>
      <p> name: 'HTML'</p>
      <p>version: 'HTML5' </p>
      <p>Hypertext Markup Language is the standard markup language for creating web pages and web applications.</p>
    </div>
    <div>
      <h4 class="m-2">elements</h4>
      <div class="row">
      <div class="card col-5 m-1">
      <p class="p-4"><strong>div</strong></p>
      <p> Defines a division or a section in an HTML document</p>
      <p>attributes</p>
      <ol class="list-group list-group-numbered m-2">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">id</div>
    Specifies a unique id for an HTML element.
    </div>
    
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">class</div>
      Specifies one or more class names for an HTML element.
    </div>
</ol>
</div>
<div class="card col-5 m-1">
<p class="p-4"><strong>p</strong></p>
<p>Defines a paragraph in an HTML document.</p>
<p>attributes</p>
      <ol class="list-group list-group-numbered m-2">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">id</div>
    Specifies a unique id for an HTML element.
    </div>
    
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">class</div>
      Specifies one or more class names for an HTML element.
    </div>
</ol>
    </div>
    </div>
    </div>
    <div>
      <p class="p-4"><strong>CSS</strong></p>
      <p> version: 'CSS3'</p>
      <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in HTML or XML.</p>
    </div>
    <div>
      <h5>properties</h5>

      <p class="p-4"><strong>color</strong></p>
      <p>Sets the color of the text.</p>
      <p>value</p>
           <ol class="list-group list-group-numbered">
 <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
     <div class="fw-bold">red</div>
   Sets the text color to red.
   </div>
   
 </li>
 <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
     <div class="fw-bold">blue</div>
    Sets the text color to blue
   </div>
 </li>
           </ol>
    </div>
    <div>
      <p class="p-4"><strong>background-color</strong></p>
      <p>Sets the background color of an element.</p>
            <p>value</p>
           <ol class="list-group list-group-numbered">
 <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
     <div class="fw-bold">white</div>
  Sets the background color to white.
   </div>
   
 </li>
 <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
     <div class="fw-bold">black</div>
   Sets the background color to black.
   </div>
 </li>
           </ol>
    </div>
    <div>
      <h4 class="p-4">JavaScript</h4>
      <p>version: 'ES6'</p>
      <p>JavaScript is a programming language used to create interactive effects within web browsers.</p>
    </div>
    <div>
      <h6>functions</h6>
     <ul>
      <li><p>alert()</p>
      <p>'Displays an alert box with a specified message and an OK button.',</p>
      <ol>
        <li>name: 'message'</li>
        <li> type: 'string'</li>
        <li>The message to display in the alert box.</li>
      </ol>
      </li>
      <li><p>getElementById()</p>
      <p>Returns the element with the specified ID</p>
      <ol>
        <li>name: 'id'</li>
        <li>type: 'string'</li>
        <li>The ID of the element to find</li>
      </ol>
      </li>
     </ul>
    </div>
  </main>
 </div>
{{!---
 <div>
     <main>
 {{#with web}}
    <br>
     <div> 
      {{#each languages}} 
      <P>{{name}}</P>
      <p>{{version}}</p>
      <p>{{description}}</p>
      <h3>Elements</h3>
      {{#each elements}}
      <p>{{name}}</p>
      <p>{{description}}</p>
       <ul>{{#each   attributes}}
         <li>{{name}} {{description}}</li>
      {{/each}}
      <p>{{name}}</p>
      <p>{{description}}</p>
      <ul>{{#each  attributes}}
     <li>{{name}} {{description}}</li>
     {{/each}}
      {{/each}}
      <br>
      
        <p>{{name}}</p>
        <p>{{version}}</p>
        <p>{{description}}</p>
        <br>
        {{#each properties}}
        <p>{{name}}</p>
        <p>{{description}}</p>
        <ul>
          {{#each values}}
          <li>{{value}} {{description}}</li>
          {{/each}}
        </ul>
        <p>{{name}}</p>
        <p>{{description}}</p>
       <ul>
       {{#each values}}
       <li>{{value}} {{description}}</li>
      {{/each}}
       </ul>
        {{/each}}
      </div>
      <br>
      <div>
     <p>{{name}}</p>
     <p>{{version}}</p>
     <p>{{desccription}}</p>
     <br>
     <ul>
      {{#each functions}}
      <li>{{name}} {{description}} 
        <ul>{{#each parameters}}
          <li>{{name}} {{type}} {{desccription}}</li>
          {{/each}}

        </ul>
      </li>
      {{/each}}

     </ul>
      </div>
      {{/each}}   
  
   {{/with}}
   <br>
 </main>   
</div>
-}}

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}